<div class="customizer-content" [perfectScrollbar]>
  <!-- Customizer header -->
  <div class="customizer-header px-2 pt-1 pb-0 position-relative">
    <h4 class="mb-0">Soft Phone <div class="badge badge-glow badge-info">{{pjsip.user}}</div></h4>
    <br>
    <div class="badge badge-danger mx-1" *ngIf="!checkSIP" >
      <i data-feather="alert-triangle" class="mr-25"> </i>
      <span [textContent]="statusSip"></span>
    </div>

    <div class="badge badge-success mx-1" *ngIf="checkSIP" >
      <i data-feather="check-circle" class="mr-25"> </i>
      <span [textContent]="statusSip"></span>
    </div>

    <div class="badge badge-danger" *ngIf="!checkWeb" >
      <i data-feather="alert-triangle" class="mr-25"></i>
      <span [textContent]="statusWeb"></span>
    </div>

    <div class="badge badge-success" *ngIf="checkWeb" >
      <i data-feather="check-circle" class="mr-25"></i>
      <span [textContent]="statusWeb"></span>
    </div>

    <a class="customizer-close" (click)="toggleSidebar('phone')"><span [data-feather]="'x'"></span></a>

  </div>

   
<section>
  <div class="divider divider-center">
    <div class="divider-text"> <div class="divider-text"><span [data-feather]="'video'"></span></div></div>
  </div>

  <div class="col card">
    <video autoplay #localVideo class="card call-video" controls></video>
    <video autoplay #remoteVideo class="card call-video" controls></video>
    <audio autoplay id="remote-stream-audio"></audio>
  </div>

  <div class="divider divider-center">
    <div class="divider-text"> <div class="divider-text"><span [data-feather]="'phone-forwarded'"></span></div></div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <!-- <div class="col-sm-9"> -->
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><span [data-feather]="'phone'"></span></span>
          </div>
          <input
            type="number"
            class="form-control"
            placeholder="0974440775"
            [(ngModel)]="selectPhoneNumber"
            [disabled]="txtCall"
            (ngModelChange)="checkCallNumber()"
          />
        </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-12">
    
    <div class="form-group">
      <!-- Basic Select with Search -->
      <!-- <label>Phonebook</label> -->
     <label>Phone Book</label>
      <ng-select [disabled]="selectPhoneBook" (change)="checkCallNumber()" [items]="phoneBook" bindLabel="name" bindValue="value"    [(ngModel)]="selectPhoneNumber"> </ng-select>
      <!--/ Basic Select with Search -->
    </div>
  </div>

  <div class="col-12 text-center">
    <div class="form-group">
      <button type="button" [disabled]="btnCallAudio" rippleEffect class="btn btn-outline-primary mr-1" (click)="callAudio()"><i data-feather='phone-call'></i></button>
      <button type="button" [disabled]="btnCallVideo" rippleEffect class="btn btn-outline-info mr-1" (click)=" callVideo()"><i data-feather='video' ></i></button>
      <button type="button" [disabled]="btnHangup" rippleEffect class="btn btn-outline-danger mr-1" (click)="hangup() "><i data-feather='phone-off'></i></button>
      <button type="button" [disabled]="btnMsg" rippleEffect class="btn btn-outline-primary mr-1" (click)="toggleSidebar('chat')"><i data-feather='message-circle'></i></button>
    </div>
  </div>
  <div class="col-12">
    
    <!-- <button type="button" [disabled]="btnMute" rippleEffect class="btn btn-outline-danger mr-1" (click)="muteCall()"> -->
      <!-- <i data-feather='volume-x' *ngIf="statusMute===false"></i>
      <i data-feather='volume-2' *ngIf="statusMute"></i> -->
    <!-- </button> -->
   
    <div class="row switch-control">
      <div class="custom-control custom-switch">
      
        <input  type="checkbox" class="custom-control-input" id="swichAudio" [disabled]="btnMute" [checked]="statusMute" (change)="muteCall()" />
        <label class="custom-control-label" for="swichAudio">
          <span class="switch-icon-left"><i data-feather="volume-2"></i></span>
          <span class="switch-icon-right"><i data-feather="volume-x"></i></span>
        </label>
  
      </div>
  
      <div class="custom-control custom-switch">
      
        <input  type="checkbox" class="custom-control-input" id="customSwitch11" [disabled]="btnOffVideo" [checked]="statusVideo" (change)="offVideo()" />
        <label class="custom-control-label" for="customSwitch11">
          <span class="switch-icon-left"><i data-feather="video"></i></span>
          <span class="switch-icon-right"><i data-feather="video-off"></i></span>
        </label>
  
      </div>
    </div>

    

    <!-- <button type="button" [disabled]="btnOffVideo" rippleEffect class="btn btn-outline-danger mr-1" (click)="offVideo()"><i data-feather='video-off'></i></button> -->
  </div>
</section>


<section>
  <div class="divider divider-center" >
  <div class="divider-text"><span [data-feather]="'settings'"></span></div>
  </div>
 
  <div class="col-12 text-center">
    <button  rippleEffect class="btn btn-success mr-1" (click)="createLogin(modalLogin)"><i data-feather='wifi'></i> Login</button>
    <!-- <button type="reset" rippleEffect class="btn btn-outline-danger">Close</button> -->
  </div>


</section>
  
</div>

<ng-template #modalIncomingUI let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Call Incoming {{this.sessionIncoming.remote_identity._display_name}} </h4>
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
   
   
    <div class="col text-center">

      <button type="button" class="btn btn-success mr-1" (click)="answerCallAudio()" rippleEffect>
        <i data-feather='phone-call'></i> Answer Audio
       </button>

      <button type="button" class="btn btn-success mr-1" (click)="answerCallVideo()" rippleEffect>
       <i data-feather='video'></i> Answer Camera
      </button>

      <button type="button" class="btn btn-info mr-1" (click)="modal.close('Accept click')" rippleEffect>
       <i data-feather='volume-x'></i> Stop Music
      </button>

      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        <i data-feather='phone-off'></i> Hangup
      </button>
    </div>

  </div>
  <!-- <div class="modal-footer">
   
  </div> -->
</ng-template>

<ng-template #modalLogin let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Login </h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"  ngbAutofocus>
    <div class="col-12" >
      <div class="form-group">
        <ngb-alert *ngIf="!checkSIP" [type]="'danger'"  class="mt-1" [dismissible]="false">
          <div class="alert-body">
            <!-- <span [data-feather]="'alert-triangle'" [class]="'mr-50 align-middle'"></span> -->
            <i data-feather='alert-triangle' class="mr-50 align-middle"></i>
            <span [textContent]="statusSip"></span>
          </div>
        </ngb-alert>
        <ngb-alert *ngIf="!checkWeb" [type]="'danger'"  class="mt-1" [dismissible]="false">
          <div class="alert-body">
            <i data-feather='alert-triangle' class="mr-50 align-middle"></i>
            <!-- <span [data-feather]="'alert-triangle'" [class]="'mr-50 align-middle'"></span> -->
            <span [textContent]="statusWeb"></span>
          </div>
        </ngb-alert>
        <ngb-alert *ngIf="checkSIP" [type]="'success'"  class="mt-1" [dismissible]="false">
          <div class="alert-body">
            <i data-feather='check-circle' class="mr-50 align-middle"></i>
            <!-- <i data-feather='success' class="mr-50 align-middle"></i> -->
            <span [textContent]="statusSip"></span>
          </div>
        </ngb-alert>
        <ngb-alert *ngIf="checkWeb" [type]="'success'"  class="mt-1" [dismissible]="false">
          <div class="alert-body">
            <i data-feather='check-circle' class="mr-50 align-middle"></i>
            <span [textContent]="statusWeb"></span>
          </div>
        </ngb-alert>
      
      </div>
      
    </div>
    <div class="col-12" >
      <div class="form-group">
        <label for="first-name-icon">Sip Server</label>
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><span [data-feather]="'server'"></span></span>
          </div>
          <input
            [disabled] = 'txtSipServer'
            [(ngModel)] = "pjsip.sipServer"
            type="text"
            id="first-name-icon"
            class="form-control"
  
            name="fname-icon"
            placeholder="192.168.100.99:5060"
          />
        </div>
       
  
      </div>
  
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="email-id-icon">Websocket Server</label>
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><span [data-feather]="'minimize-2'"></span></span>
          </div>
          <input
            [disabled] = 'txtWebServer'
            [(ngModel)] = "pjsip.webServer"
            type="text"
            class="form-control"
            placeholder="ws://102.168.100.99:8088/ws"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="contact-info-icon">SIP/USER/ID</label>
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><span [data-feather]="'smartphone'"></span></span>
          </div>
          <input
            [disabled] = 'txtUser'
            [(ngModel)] = "pjsip.user"
            type="text"
            id="contact-info-icon"
            class="form-control"
            name="contact-icon"
            placeholder="369"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="password-icon">Password</label>
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
          </div>
          <input
            [disabled] = 'txtPass'
            [(ngModel)] = "pjsip.pass"
            type="password"
            id="password-icon"
            class="form-control"
            name="contact-icon"
            placeholder="Password"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="btnReg" rippleEffect class="btn btn-success mr-1" (click)="register()"><i data-feather='wifi'></i> Register</button>
    <button type="submit" [disabled]="btnUnReg" rippleEffect class="btn btn-primary mr-1" (click)="unRegister()"><i data-feather='wifi-off'></i> UnRegister</button>
  </div>
 
</ng-template>
<!-- Button trigger modal -->


<!-- Modal -->

<core-sidebar class="customizer d-none d-md-block" name="chat" hideOnEsc="true" invisibleOverlay="true">
<core-chat
[userProfileChat]="userProfileChat"
[userSender]="userSender" 
[messageUser]="messageUser" 
[messageSender]="messageSender" 
[phoneSession]="callSession.sipPhone"
[phoneBook]="phoneBook"
>
</core-chat>
</core-sidebar>
