<div class="content-wrapper">
  <div class="content-body">

    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Page is here</h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Outgoing Payment</li>
                <li class="breadcrumb-item">Outgoing Synchronized</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none" >
        <div class="form-group breadcrum-right">
          <button class="btn btn-primary" rippleEffect>
            <i data-feather="plus"></i>
            Create Phone Account 
          </button>
        </div>
      </div>

    </div>

    <div class="card">
      <h5 class="card-header">Search Filter</h5>
      <div class="card-body">
        <div class="users-list-filter">
          <form>
            <div class="row">
              <div class="col-12 col-md-4">
                <fieldset class="form-group">
                  <!-- <ng-select [items]="selectRole" name="selectedRole" bindLabel="name" placeholder="Select Role" ></ng-select> -->
                </fieldset>
              </div>
              <div class="col-12 col-md-4">
                <fieldset class="form-group">
                  <!-- <ng-select [items]="selectPlan"  name="selectedPlan" bindLabel="name" placeholder="Select Plan" ></ng-select> -->
                </fieldset>
              </div>
              <div class="col-12 col-md-4">
                <fieldset class="form-group">
                  <!-- <ng-select [items]="selectStatus" name="selectedStatus" bindLabel="name" placeholder="Select Status"></ng-select> -->
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- <div class="table-responsive"> -->
            <div class="card-body">
                <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>Select Plan</th>
                  <th>Plan Code</th>
                  <th>Payment Date Plan</th>
                  <th>Payment Date Create</th>
                  <th>Department</th>
                  <th>Vendor</th>
                  <th>Money</th>
                  <th>Type</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>
                    <img
                      src="assets/images/icons/angular.svg"
                      class="mr-75"
                      height="20"
                      width="20"
                      alt="Angular"
                    /><span class="font-weight-bold">Angular Project</span>
                  </td>
                  <td>Peter Charls</td>
                  <td>
                    <div class="avatar-group">
                      <div
                        data-toggle="tooltip"
                        data-popup="tooltip-custom"
                        placement="top"
                        container="body"
                        title=""
                        class="avatar pull-up my-0"
                        ngbTooltip="Lilian Nenez"
                      >
                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div
                        data-toggle="tooltip"
                        data-popup="tooltip-custom"
                        placement="top"
                        container="body"
                        title=""
                        class="avatar pull-up my-0"
                        ngbTooltip="Alberto Glotzbach"
                      >
                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div
                        data-toggle="tooltip"
                        data-popup="tooltip-custom"
                        placement="top"
                        container="body"
                        title=""
                        class="avatar pull-up my-0"
                        ngbTooltip="Alberto Glotzbach"
                      >
                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-pill badge-light-primary mr-1">Active</span></td>
                  <td class="overflow-hidden">
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a ngbDropdownItem href="javascript:void(0);"
                          ><i data-feather="edit-2" class="mr-50"></i><span>Edit</span></a
                        ><a ngbDropdownItem href="javascript:void(0);"
                          ><i data-feather="trash" class="mr-50"></i><span>Delete</span></a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
                </table>
            </div>

               <section>
                  <div class="row">
                    <div class="col-sm-12">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mt-2">
                          <li class="page-item prev-item">
                            <a
                              class="page-link"
                              href="javascript:void(0);"
                            ></a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);"
                              >1</a
                            >
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                              >2</a
                            >
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                              >3</a
                            >
                          </li>
                          <li class="page-item" aria-current="page">
                            <a class="page-link" href="javascript:void(0);"
                              >4</a
                            >
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                              >5</a
                            >
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                              >6</a
                            >
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                              >7</a
                            >
                          </li>
                          <li class="page-item next-item">
                            <a
                              class="page-link"
                              href="javascript:void(0);"
                            ></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </section>

          <!-- </div> -->
          
        </div>
      </div>
    </div>
  
  </div>
</div>