<span
class="badge badge-pill badge-light-info mr-1"
*ngIf="status === '0'"
>Waiting</span
>
<span
class="badge badge-pill badge-light-dark mr-1"
*ngIf="status === '1'"
>Browsing</span
>
<span
class="badge badge-pill badge-light-warning mr-1"
*ngIf="status === '2'"
>Approved accounting level</span
>
<span
class="badge badge-pill badge-light-warning mr-1"
*ngIf="status === '3'"
>Approved for director level</span
>

<span
class="badge badge-pill badge-light-primary mr-1"
*ngIf="status === '4'"
>
Created eFAST</span
>
<span
class="badge badge-pill badge-light-success mr-1"
*ngIf="status === '5'"
>Complete eFAST</span>

<span
class="badge badge-pill badge-light-info mr-1"
*ngIf="status === '6'"
>Created SAP</span>
<span
class="badge badge-pill badge-light-danger mr-1"
*ngIf="status === '7'"
>Cancelled</span>
<span
class="badge badge-pill badge-light-danger mr-1"
*ngIf="status === '8'"
>Deleted</span>

<span
class="badge badge-pill badge-light-info mr-1"
*ngIf="status === '9'"
>Plan</span>

<span
class="badge badge-pill badge-light-info mr-1"
*ngIf="status === '10'"
>Created Outgoing</span>
<span
class="badge badge-pill badge-light-danger mr-1"
*ngIf="status === '11'"
>Refusal of accounting level</span>
<span
class="badge badge-pill badge-light-danger mr-1"
*ngIf="status === '12'"
>Refusal of director level</span>

<span
class="badge badge-pill badge-light-warning mr-1"
*ngIf="status === '13'"
>Accounting level undone</span>
<span
class="badge badge-pill badge-light-warning mr-1"
*ngIf="status === '14'"
>Director level undone</span>

